<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          <script src="/Users/goncalobarros/Desktop/UnbabelChallenge/java-coding-challenge/src/main/resources/public/stylesheets/styles.css"></script>
        <h1 align="center">Unbabel Challenge</h1>
    </head>



    <body>
        <div>
           <form method="get" name="form1" id="form1">
           <h3 > Text to translate:</h3>
             <input type="text" id="inputText" name="translate" value="" placeholder="Insert text here">
                <select id="selectFrom" name= "langPair">
                    {{#each langPairContainer}}
                        <option value="{{lang_pair.source_language.shortname}}/{{lang_pair.target_language.shortname}}">{{lang_pair.source_language.shortname}} / {{lang_pair.target_language.shortname}}</option>
                    {{/each}}
                </select>
               <input type="button" value="Submit" onclick="getTranslation()">
           </form>
            <br>
        </div>
        <div id="tableContainer">

        </div>


    </body>

    <script>

        function getTranslation() {

        var langPair = $( "#selectFrom option:selected" ).text();
        var textToTranslate = $('#inputText').val();
        console.log(langPair)

        var xhttp = new XMLHttpRequest();
        var params = "langPair=" + langPair+"&"+"textToTranslate="+ textToTranslate;

        xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    parser = new DOMParser();
                    var doc = parser.parseFromString(xhttp.responseText, "text/html");
                    document.getElementById("tableContainer").innerHTML = xhttp.responseText;
                }
            };
        xhttp.open("GET", "/home/translate" + "?" + params, true);
        xhttp.send();
        }


    </script>

</html>


